
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
  
body {
  background-color: #0f172a;
}

h2 {
  display: inline-block;
  margin-bottom: 30px;
}

.form-container {
  background-color: #1e293b;
  color: #fff;
  width: 50%;
  margin: 50px auto;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-input {
  font-weight: 200;
}

input {
  width: 50%;
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 3px;
}

#search-btn {
  background-color: #0f172a;
  color: #fff;
  font-weight: 500;
  margin: 20px 0px;
  font-size: 1.0rem;
  width: 40%;
  height: 50px;
  border-radius: 8px;
  border: none;
  transition: background 0.5s;
}

.showDisplay{
  color: black;
}
  
#modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

#search-btn:hover {
  cursor: pointer;
  background-color: #fff;
  color: #0f172a;
  transition: background 0.5s;
}
  
  @media screen and (max-width: 768px) {
    /* Estilos para telas menores (até 768px) */
    .page {
      margin: 20px auto;
      padding: 10px;
    }
    
    input[type="text"],
    input[type="date"],
    button {
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 480px) {
    /* Estilos para telas ainda menores (até 480px) */
    .page {
      margin: 10px auto;
      padding: 5px;
    }
    
    input[type="text"],
    input[type="date"],
    button {
      font-size: 12px;
    }
  }
  